# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Spark
spark-warehouse/
metastore_db/
derby.log

# Docker
.docker/

# Jupyter Notebook
.ipynb_checkpoints 